/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section-p1 {
    padding: 40px 0 20px 0;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    width: 170px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-left: 700px;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #cdebbc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 110px;
}

.logo {
    width: 250px;
    height: 80px;
}
.logoo{
    height: 120px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#mobile {
    align-items: center;
    display: none;
}

#close {
    display: none;
}
#hero {
    background-image: url(/th12.png);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    font-size: 90px;
    padding-bottom: 15px;
}

#hero h2 {
    font-size: 50px;
}

#hero p {
    font-size: 40px;
    color: white;
}

#hero h1 {
    font-size: 30px;
    color: #088178;
}

#hero button {
    margin-top: 50px;
    background-color: transparent;
    color: #088178;
    background-color: #fff;
    border: 1px solid black;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size:15px;
}

#hero button:hover {
    color: #fff;
    background-color: #088178;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 25px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.5);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h3 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    font-weight: 100;
}

#feature .fe-box:nth-child(2) h3 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h3 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h3 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h3 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h3 {
    background-color: #fff2e5;
}


#product1 {
    text-align: center;
    padding: 60px 0; 
    font-size: 30px;
    min-height: 600px; /* This ensures the section is at least 600px tall */
}


#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 120px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 14px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 19px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(/newbanner1.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 23px;
}

#banner h2 {
    color: #fff;
    font-size: 50px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/newbanner.png);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-left: 80px;
}

#sm-banner h6 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#sm-banner .banner-box2 {
    width: 700px;
    background-image: url(/new2.png);
    margin-right: 70px;
}

#sm-banner h4 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

#sm-banner h1 {
    color: #fff;
    font-size: 58px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
}

#sm-banner button {
    margin-top: 10px;
    padding: 10px;
    font-weight: 600;
}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content:space-evenly;
}


#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/new7.png);
    min-width: 20%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
    color: white;
}

#banner3 .banner-box2 {
    
    background-image: url(/new9.png);
}

#banner3 .banner-box3 {
    background-image: url(/new8.png);
    
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 32px;

}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 18px;
    
}

 #newsletter {
        height: 150px;
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        flex-wrap: nowrap; 
        background-repeat: no-repeat;
        background-position: 20% 30%;
        background-color: #041e42;
        padding: 0 100px;
    }
    
#newsletter h4 {
        font-size: 32px;
        font-weight: 600;
        color: #fff;
        margin: 0; 
    }
    
#newsletter p {
        font-size: 16px;
        font-weight: 600;
        color: #818ea0;
        margin: 0; 
    }
    
#newsletter span {
        color: #ffbd27;
    }
    
#newsletter .form {
        display: flex; 
        justify-content: flex-end;
        align-items: center; 
        margin-bottom: 0;
    }
    
#newsletter input {
        height: 3.125rem;
        width: 240px;
        padding: 0 1.25rem;
        font-size: 14px;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        margin-right: 10px; 
    }
    
#newsletter button {
        height: 50px;
        background-color: #088178;
        font-size: 14px;
        width: 120px;
        font-weight: 600;
        padding: 15px 30px;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
    }
    
.newsletter {
        margin: 0;
    }


footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    

footer .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0px;
        margin-left: 5px;
    }

footer .logo  {
        margin-bottom: 30px;
     }

footer h4 {
        font-size: 14px;
        padding-bottom: 20px;
     }

footer p {
        font-size: 13px;
        margin: 0 0 8px 0;

     }

footer a{
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
     }

footer .follow i {
        color: #465b52;
        padding-right: 4px;
        cursor: pointer;
     }

footer .install .row img {
        border: 1px solid #088178;
        border-radius: 6px;
     }

footer .colinstall p {
        font-size: 18px;
     }

footer .install img {
        margin: 10px 0 15px 0;
     }

footer .follow i:hover, 
footer a:hover {
        color: #088178;
     }

footer .copyright {
        width: 100%;
        text-align: center;
     }

@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px; /* Off-screen initially */
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: right 0.3s ease-in-out; /* Smooth transition */
    }

    #navbar.active {
        right: 0; /* Slide in when active */
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

  #lg-bag {
        display: none; 
}

 #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
 }

 #feature {
    justify-content: center;
 }

 #feature .fe-box {
    margin: 15px 15px;
 }

 #product .pro-container {
    justify-content: center;
 }

 #product1 .pro {
    margin: 15px;
 }

 #banner {
    height: 20vh;
 }
 #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
 }
 #banner3 {
    padding: 0 40px;
 }
 #banner3 .banner-box {
    width: 28%;
 }
 /* #newsletter .form {
    width: 70%;
 } */

 #newsletter .form {
    width: 100%;
    max-width: 100%; /* Ensure it does not exceed container */
    box-sizing: border-box; /* Include padding and border in the width */
}
}

#page-header{
   background-image: url(/banner-box2.png);
   height: 40vh;
   width: 100%;
   background-size: cover;
   justify-content: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}

#page-header h2{
    color: #ffbd27;
    font-size: 60px;
    padding: 20px;
}
#page-header p {
   color: black;
   font-size: 30px;
   
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;

}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 30%;
    margin-right: 50px;
    margin-left: 50px;
 
}

.samll-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-group {
    flex-basis: 24;
    cursor : pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 20px 0 30px 0;
    font-size: 40px;
}

#prodetails .single-pro-details h5 {
    font-size: 20px;
}


#prodetails .single-pro-details h1 {
    padding: 90px 0 30px 0;
    font-size: 50px;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
    padding: 0 0 10px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-right: 2px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button {
    background: #088178;
    color: #fff;
    height: 50px;
    width: 20%;
    border-radius: 5px;
    border: none;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}


/*Blog page*/
#page-header .blog-header{
    background-image: url(/banner-box1.png);
}

.blog-box{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 90px; */
}

.blog-details {
    margin-left: 400px;
}
.blog-details h2 {
    padding: 20px 0 8px;
}

.blog-details p {
    line-height: 25px;
    width: 60%;
    padding: 10px 0px;
}

#blog img {
    background-size: cover;
    margin-left: 200px;
    height: 300px;
    width: 150%;
}

.blog-details a {
    text-decoration: none;
    font-size: 21px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;

}

.blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

.blog-details a:hover{
    color: #088178;
}

.blog-details a:hover::after{
    background-color: #088178;
}

.blog-details h3{
    position: absolute;
    top: 440px;
    margin-left: 190px;
    left: 0;
    font-size: 150px;
    font-weight: 600;
    color: #c9cbce;
    z-index: -9;
}

/*About page*/
#page-header .about-header{
    background-image: url(/banner-box12.png);
}

#about-head img {
    margin: 30px 30px ;
    border-radius: 30px;
}
#about-head {
    
    display: flex;
    height: auto;
}

#about-head h2{
    font-size: 50px;
    padding: 40px;
    margin-top: 100px;
    margin-left: 170px;
}

#about-head p {
    margin-left: 100px;
    line-height: 25px;
    font-size: 20px;

}

#about-head h5 {
    margin-left: 80px;
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
}

#about-head div {
    width: 50%;
}

#about-app {
    justify-content: center;
    width: 70%;
    margin-left: 300px;
    padding: 90px;
}

#about-app h1 {
    margin-left: 240px;
    padding: 20px;
    font-size: 39px;
}

#about-app video {
    border-radius: 30px;
    width: 800px;
} 

.marquee {
    width: 100%;
    font-size: 2rem;
}


/*contact page*/

#content-details {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#content-details .details span,
#form-details form span {
    font-size: 17px;
}

#content-details .details h3 {
    font-size: 23px;
    margin: 10px 0px 10px;
    padding: 5px;
}

#content-details .details li {
    font-size: 18px;
    line-height: 14px;
    display: flex;
    padding: 15px;
    gap: 20px;
}

#content-details .details h2,
#form-details h2{
    margin: 20px 0 20px;
    font-size: 35px;
}

.details {
    padding: 0px;
    margin-left: 200px;
    width: 40%;
}

#content-details .map {
    width: 45%;
    height: 450px;
    margin-right: 30px;
}

#content-details .map iframe {
    width: 100%;
    height: 100%;
}

/*form*/

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div img {
    width: 99px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    margin-top: 20px
}
#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people {
    padding: 40px;
   
}

#form-details .people div p  {
    padding: 20px;
    
}
/* 
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people  img{
    margin-right: 500px; */

#form-details .people div p span {
    display: flex;
    gap: 30px;
}

#form-details .people div p span{
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: #000;
    padding: px;
}


#form-details button {
    margin-left: 550px;
}




@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
}